<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>love-poemy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
				<key>dateExpires</key>
				<string>2021/06/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEAF93D0D4B405497A44C19C5A48391B617C559D</string>
						<key>dateExpires</key>
						<string>2021/06/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5YR2PS8BM3</string>
						<key>name</key>
						<string>shiho nonaka</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5YR2PS8BM3.com.education.love-poemy</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:lovepoemy.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5YR2PS8BM3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Poemy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>54b103f8-ed8e-42c6-a4d8-ccb9b25487df</string>
				<key>name</key>
				<string>poemy.dist</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5YR2PS8BM3</string>
				<key>name</key>
				<string>shiho nonaka</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
